.checking-widget {
	width: min(100%, 500px);
	text-align: center;
	border: 2px solid var(--dark-bg);
	border-radius: 5px;
	font-size: 1rem;


	& > div {
		display: flex;
		border-top: 2px solid var(--dark-bg);
		margin-inline: auto;
		padding: .8rem 1.2rem;

		& p:first-child {
			flex:  2;
			text-align: start;
			white-space: nowrap;
		}

		& p:not(:first-child), span{
			flex: 1;
			align-self: center;
		}

		> :nth-child(2){
			font-weight: 700;
			letter-spacing: 2px;
		}
	}
}

.savings {
	background-color: var(--positive);
}

@media (min-width: 760px){
	.checking-widget {
		font-size: 1.2rem;
	}
}