* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* layout colors */
	--main-bg: #1e2634;
	--soft-bg: #384256;
	--dark-bg: #222b3c;

	--negative: #e83b3b;
	--positive: #00C49F;

	/* text colors */
	--main-color: white;
	--soft-color: #bbbbbb;
	--dark-color: #2a3447;
}

[data-type='light'] {
	/* layout colors */
	--main-bg: #e4e4e4;
	--soft-bg: #c0c0c0;
	--dark-bg: #4F4F51;

	/* text colors */
	--main-color: #2C2B30;
	--soft-color: #4F4F51;
	--dark-color: #232227;
}

[data-type='emperical'] {
	/* layout colors */
	--main-bg: #2e2e2e;
	--soft-bg: #9e9e9e;
	--dark-bg: #2C2B30;

	/* text colors */
	--main-color: #FFFF;
	--soft-color: #F8C8C6;
	--dark-color: #F58F7C;
}

[data-type='positive'] {
	color: var(--positive);
}

[data-type='negative'] {
	color: var(--negative);
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-size: 14px;
}

.main {
	font-family: 'Noto Sans Hebrew', sans-serif;
	background-color: var(--main-bg);
	color: var(--main-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.container {
		display: flex;
		align-items: center;
		height: 100%;

		.menu-container {
			padding: 0 2rem;
			font-size: 20px;
			border-inline-end: .2rem solid var(--soft-bg);
			align-self: flex-start;
		}

		.content-container {
			padding: 0 2rem;
			width: 100%;
		}
	}
}

.main, [data-type='dark']{
	background: hsla(219, 38%, 32%, 1);
	background: radial-gradient(circle, hsla(219, 38%, 32%, 1) 0%, hsla(219, 28%, 18%, 1) 100%);
	background: -moz-radial-gradient(circle, hsla(219, 38%, 32%, 1) 0%, hsla(219, 28%, 18%, 1) 100%);
	background: -webkit-radial-gradient(circle, hsla(219, 38%, 32%, 1) 0%, hsla(219, 28%, 18%, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#334971", endColorstr="#222B3C", GradientType=1 );
}