.home {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 1rem;
	font-size: .7rem;
	.box {
		padding: 1rem;
		border-radius: .5rem;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.box-1{
		grid-area: income;
	}	
	.box-2 {
		grid-area: expenses;
	}
	.box-3{
		position: relative;
		display: grid;
		place-items: center;
		grid-area: piechart;
		width: 100%;
		.pie-total {
			position: absolute;
			align-items: center;
			font-weight: bold;
			font-size: 1.5rem;
			z-index: 10;
		}
	}
	.box-4 {
		grid-area: categorybox;
		box-shadow: none;
	}
	.box-5 {
		grid-area: checking;
		overflow-x: scroll;
	}
	
}

@media (min-width: 600px){
	.home {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: minmax(200px, auto);
		grid-template-areas: 
			"income 			expenses"
			"piechart 		piechart"
			"categorybox 	categorybox"
			"checking 		checking";
		gap: 1rem;
	}
}

@media (min-width: 900px){
	.home {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: minmax(200px, auto);
		grid-template-areas: 
			"income 			expenses"
			"piechart 		piechart"
			"categorybox 	categorybox"
			"checking 		checking";
		gap: 1rem;
		font-size: 1rem;
	}
}

@media (min-width: 1400px){
	.home {
		display: grid;
		grid-template-columns: 500px 1fr 1fr;
		grid-template-rows: minmax(200px, auto);
		grid-template-areas: 
			"piechart 			income 			expenses"
			"piechart 			checking 		checking"
			"categorybox 		checking 		checking";
		gap: 1rem;
	}
}



