
.my-budget {
	width: 100%;
	> div {
		width: 400px;
		margin-inline: auto;
	}

	.budget-expenses{
		display: flex;
		flex-direction: column;
		align-items: center;
		border-block-start: 2px solid rgb(0,0,0,.1);
		margin-block-start: 1rem;
		width: 100%;

		.budget-expenses-info {
			margin-inline-end: auto;
			font-size: 1.5rem;
			padding: .5rem;
			
			& h2 {
				font-weight: 500;
			}
			& p {
				color: var(--positive);

				& > span { 
					color: var(--soft-color); 
					font-weight: 600;
				}
			}
		}
		.budget-expenses-charts{
			width: 100%;
			display: flex;
			flex-direction: column;
			padding-inline: .5rem;
		}
		@media (min-width: 1440px){
			.budget-expenses-charts {
				flex-direction: row;
		
				& > div:nth-child(1) {
					flex: 5;
				}
				& > div:nth-child(2) {
					flex: 6;
				}
			}
		}
		@media (min-width: 1280px){
			.budget-expenses-charts {
				flex-direction: row;
		
				& > div:nth-child(1) {
					flex: 1;
				}
				& > div:nth-child(2) {
					flex: 1;
				}
			}
		}
	}
}