.menu {
	min-height: 100%;

	.item {
		display: flex;
		flex-direction: column;
		gap: .5rem;

		& .title {
			font-size: 2rem;
			font-weight: 200;
			color: var(--soft-color);
			padding: 0 0 .2rem 0;
		}

		& .list-item {
			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 1rem;

			& span {
				white-space: nowrap;
			}
			&:hover, .active {
				background-color: var(--soft-bg);
				border-radius: .5rem;
			}
		}
	}
	
	& svg {
		width: 2rem;
		height: 2rem;
	}
}

.active {
	background-color: var(--soft-bg);
	border-radius: .5rem;
	cursor: default;
}

@media (max-width: 800px) {
	.menu{
		color: currentColor;
	}
	.menu-container {
		display: none;
	}
}

@media (max-width: 1200px){
	.title{
		display: none;
	}
	.list-item-title{
		display: none;
	}
}


